# Vim files
.session.vim
.undodir
.tasks
.vimspector.json

# Python files
*.egg
*.egg-info
*cache
**/__pycache__/

# Sphinx files
docs/build

# Frontend
mxxn/frontend/node_modules
mxxn/frontend/package-lock.json

# Develop file
data
