<!DOCTYPE html>
	<head>
		<title></title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<base href="{{ base_url }}"> </base>
		<link rel="icon" href="static/mxxn/images/favicon.png">
	</head>
	<body>
	<script type="module" async>
		{% if auth %}
			import {app} from '/static/mxxn/js/mxxn.js'

			await app()
		{% else %}
			import {login} from '/static/mxxn/js/mxxn.js'

			await login()
		{% endif %}
	</script>
	</body>
</html>
