<!DOCTYPE html>
	<head>
		<title></title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<base href="{{ base_url }}"> </base>
		<link rel="icon" href="static/mxxn/images/favicon.png">
		<script type="module">
			import './static/mxxn/js/mxxn.js'
		</script>
		<style>
			body {
				margin: 0;
				padding: 0;
			}
		</style>

	</head>
	<body>
		<mxxn-app></mxxn-app>
	</body>
</html>
