<mxxn-toolbar>
	<mxxn-icon name="menu"></mxxn-icon>

	<style>
		mxxn-icon {
		}
	</style>

	<script>
		import MxxnIcon from './icon.riot'

		export default {
			components: {
				MxxnIcon
			}
		}
	</script>
</mxxn-toolbar>


