<mxxn-toolbar>
	<!-- <mxxn-icon onclick={click} name="menu"></mxxn-icon> -->
	<div onclick={click}>sdsdsd</div>

	<style>
		mxxn-icon {
		}
	</style>

	<script>
		import MxxnIcon from './icon.riot'

		export default {
			components: {
				MxxnIcon
			},

			click() {
				document.body.style.setProperty('--mxxn-navbar-background-color', '#ff0000')
			}
		}
	</script>
</mxxn-toolbar>


